@import url("https://p.typekit.net/p.css?s=1&k=eff3fzh&ht=tk&f=1726.1723.1725.1729&a=3939483&app=typekit&e=css");

@font-face {
font-family:"botanika-web";
src:url("https://use.typekit.net/af/98425d/0000000000000000773598ae/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/98425d/0000000000000000773598ae/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/98425d/0000000000000000773598ae/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"botanika-mono-web";
src:url("https://use.typekit.net/af/4e3eca/0000000000000000773598b5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4e3eca/0000000000000000773598b5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4e3eca/0000000000000000773598b5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"botanika-mono-web";
src:url("https://use.typekit.net/af/26d86f/0000000000000000773598b6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/26d86f/0000000000000000773598b6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/26d86f/0000000000000000773598b6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"botanika-mono-web";
src:url("https://use.typekit.net/af/5bea7d/0000000000000000773598be/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/5bea7d/0000000000000000773598be/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/5bea7d/0000000000000000773598be/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

.tk-botanika-web { font-family: "botanika-web",sans-serif; }
.tk-botanika-mono-web { font-family: "botanika-mono-web",monospace; }



h1, h2, a {
  all: unset;
}


body, html, main {
  font-family: 'botanika-web';
  height: 98vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  display: block;
  font-family: 'botanika-web';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-family: 'botanika-mono-web';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

a {
  cursor: pointer;
  font-family: 'botanika-mono-web';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  &:hover {
    // font-weight: 600;
    text-shadow:
    -0.25px -0.25px 0 black,
    0.25px -0.25px 0 black,
    -0.25px 0.25px 0 black,
    0.25px 0.25px 0 black;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    &.active {
      text-shadow: 0;
    }
  }

}